@import "tailwindcss";
@import '../styles/utils/index.css';

:root {
  --background: #1C1C1C;
  --foreground: #D9D9D9;
  --background-secondary: #2B2B2B;
  --background-secondary-rgb: 43, 43, 43;
  --background-third: #252525;
  --background-third-rgb: 37, 37, 37;
  --gray: #B1B1B1;
  --secondary: #9764e3;
  --third: #38C456;
  --scrollbar: #4b4b4b;
  --scrollbar-main-width: 7px;
  --scrollbar-main: #3a3a3a;
  
  --red: #e63939;
  --header-active: #FAFAFA;
  
  --timeline-base-color: #4e4e4e;

  --backdrop-color: rgba(0, 0, 0, 0.3);

  --max-width: 1000px;

  --laboratory-lg-margin-top: 100px;

  --nick-room-bg: #F88F20;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  transition: background-color 0.2s ease-in-out;
}

html, body {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}