@import "tailwindcss";

@supports (-webkit-background-clip: text) {
  .linkText {
    background-image: linear-gradient(to right, #f0abfc, #818cf8);
    -webkit-background-clip: text;
    color: transparent;
  }
}

@supports not (-webkit-background-clip: text) {
  .linkText {
    color: #f0abfc;
  }
}