@import "tailwindcss";

@supports (-webkit-background-clip: text) {
  .linkText {
    background-image: linear-gradient(to right, #f0abfc, #818cf8);
    -webkit-background-clip: text;
    color: transparent;
  }
}

@supports not (-webkit-background-clip: text) {
  .linkText {
    color: #f0abfc;
  }
}

.contactButton {
  @apply flex-none flex items-center w-[35px] h-[35px] justify-center bg-[var(--background-secondary)]/50 backdrop-blur-sm p-1.5 rounded-full border border-[var(--gray)]/[.05] z-[1];
}