@import "tailwindcss";

@supports (-webkit-background-clip: text) {
  .linkText {
    background-image: linear-gradient(to right, #f0abfc, #818cf8);
    -webkit-background-clip: text;
    color: transparent;
  }
}

@supports not (-webkit-background-clip: text) {
  .linkText {
    color: #f0abfc;
  }
}

.contactButton {
  @apply flex-none flex items-center w-[35px] h-[35px] justify-center backdrop-blur-sm p-1.5 rounded-full z-[1];
  background: rgba(var(--background-secondary-rgb), 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}